<div class="main" id="main">
  <div class="header">
    <app-search-bar></app-search-bar>
    <button id="button2" (click)="emit()" >Archived Notes</button>
    <button id="button3" *ngIf="!logged" (click)="openLoginModal()"  class="buttonl">LOG IN</button>
    <button id="button3" *ngIf="logged" (click)="logout()"  class="buttonl">LOG OUT</button>
  </div>
  <div class="body">
    <div class="left">
      <app-labels></app-labels>
    </div>
    <div class="notes-section">
      <div class="background" *ngIf="empty">
        <button (click)="modal = true" class="btn">
          <h1>+</h1>
        </button>
      </div>
      <app-notes *ngIf="logged && !empty" (empty)="empty = $event"></app-notes>
    </div>
  </div>
</div>

<app-add-modal *ngIf="modal"></app-add-modal>
<app-login *ngIf="modalLogin"></app-login>

